/* work-img */


.work-item {

    display: flex;
   
    margin-top: 30px;
    max-width: 1000px;
    

    height: 180px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;


    box-shadow: 5px 2px 6px #7e7c7c;


}

.work-info {
    margin-top: 30px;
    /* margin-left: 10px; */
    padding: 0 30px;
    line-height: 30px;
}

.work-info h1 {
    font-size: 25px;
    color: #2B3499;
    letter-spacing: 5px;
    font-weight: 800;
    margin-bottom: 12px;
}

.work-info span {
    font-size: 20px;
}


.work-info span span {
    font-weight: 800;
    color: #872341;
}


.work-info p {
    font-size: 22px;
    margin-top: 12px;
    
    color: #FF9209;
    font-weight: 800;
}





@media only screen and (max-width: 768px) {

    .work-item {
     flex-direction: column;
     max-width: 500px;
     height: auto;
     padding-bottom: 30px;
    }
 
 
    .work-img {
       height: 250px;
       object-fit: cover;
    }
 
 
 }
 
 
 
 
 @media only screen and (max-width : 600px){
     /* Wait */
 
     .work-info h1 {
         font-size: 25px;
     }
 
     .work-info span {
         font-size: 18px;
     }
 
     .work-info p {
         font-size: 22px;
     }
 }